# Domain
# This would be set to the production domain with an env var on deployment
# used by Traefik to transmit traffic and aqcuire TLS certificates
DOMAIN=localhost
# To test the local Traefik config
# DOMAIN=localhost.tiangolo.com

# Environment: local, staging, production
ENVIRONMENT=local

PROJECT_NAME="Backend API"
STACK_NAME=backend-api

# Backend
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:5173,http://localhost.tiangolo.com"
SECRET_KEY=9876543210abcdef9876543210abcdef9876543210abcdef

# Database
MYSQL_SERVER=127.0.0.1
MYSQL_PORT=3306
MYSQL_DB=nestjs
MYSQL_USER=root
MYSQL_PASSWORD=password
